section span {
    position: absolute;
    width: 25px;
    height: 25px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
}

#arrow-0 {
    bottom: 30px;    
}

#arrow-1 {
    bottom: 25px;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: rotate(135deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(135deg) translate(-10px, 10px);
        opacity: 0;
    }
}

@-moz-keyframes bounce {
    0% {
        -moz-transform: rotate(135deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: rotate(135deg) translate(-10px, 10px);
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        transform: rotate(135deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(135deg) translate(-10px, 10px);
        opacity: 0;
    }
}

.welcome {
    height: 100%;
    padding: 0;
    display: table;
    width: 100%;
    text-align: center;
    background-image: url(/img/background_h.jpg);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
}

.welcome .intro-body {
    display: table-cell;
    vertical-align: middle;
    color: #555;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

@media (max-width:768px) {
    .welcome {
        background-image: url(/img/background_v.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .welcome .intro-body {
        bottom: 20px;
    }
}